<%= form_for @user, html: { class: ["ui", "form", "column"], id: "signupForm"} do |f| %>
	<%= render 'shared/error_msgs', object: f.object %>

	<div class="field">
		<%= f.label :email %>
		<%= icon_input_wrapper(f, :email, :mail, { placeholder: "Example@gmail.com" }) %>
	</div>

	<div class="field">
		<%= f.label :first_name %>
		<%= icon_input_wrapper(f, :first_name, :write, { placeholder: "Ji-yong" }) %>
	</div>
	
	<div class="field">
		<%= f.label :last_name %>
		<%= icon_input_wrapper(f, :last_name, :write, { placeholder: "Kwon" }) %>
	</div>
	
	<div class="field">
		<%= f.label :password %>
		<%= icon_input_wrapper(f, :password, :lock, { placeholder: "Minimum length: 6 characters!" }, :password_field) %>
	</div>

	<div class="field">
		<%= f.label :password_confirmation %>
		<%= icon_input_wrapper(f, :password_confirmation, "unlock alternate", { placeholder: "One more time :)" }, :password_field ) %>
	</div>


	<%= f.submit yield(:button_text), class: "ui teal basic button" %>
<% end %>