<div class="row">
	<div class="ui teal stackable <%= medi ? 'four' : 'three' %> item menu">
		<%= nav_link("Personal Information", user_url(@user)) %>
		<% if medi %>
			<%= nav_link("Vaccine Records", user_vaccines_url(@user)) %>
			<%= nav_link("Medical History", user_illnesses_url(@user)) %>
		<% else %>
			<%= nav_link("Medical Records", user_vaccines_url(@user)) %>
		<% end %>
		<%= nav_link("Account Information", edit_user_url(@user)) %>
	</div>
</div>